<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Angular Material - Starter App</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

     <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
               <i class="material-icons">menu</i>
          </md-button>
          <h3>
            TCS discuss
          </h3>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
              <i class="material-icons">search</i>
          </md-button>
        
          
          <md-button aria-label="Open Settings">
            <ng-md-icon icon="more_vert"></ng-md-icon>
               <i class="material-icons">more_vert</i>
          </md-button>
        </div>
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            CHATS
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            STATUS
          </md-tab>
           <md-tab id="tab3" aria-controls="tab3-content">
           CALLS
          </md-tab>
        </md-tabs>
      </md-toolbar>
       <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
                 <i class="material-icons">arrow_back</i>
          </md-button>
          
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.who" placeholder="Search..">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          
          <md-button aria-label="Open Settings">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
       
      </md-toolbar>
    
    
     <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
            <ng-switch on="data.selectedIndex" class="tabpanel-container">
                
              <div role="tabpanel"
                   id="tab1-content"
                   aria-labelledby="tab1"
                   ng-switch-when="0"
                   md-swipe-left="next()"
                   md-swipe-right="previous()"
                   layout="row" layout-align="center center">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                     <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
                        <!-- <ng-md-icon icon="message"></ng-md-icon>-->
                         <i class="material-icons">&#xE0C9;</i>
                    </md-button>
                    
                   <!-- <md-card-content>
                      <md-list>
                        <md-item ng-repeat="item in activity | filter:search">
                          <md-item-content>
                            <div class="md-tile-left inset" hide-sm>
                                <user-avatar></user-avatar>
                            </div>
                            <div class="md-tile-content">
                              <div layout="row" layout-xs="column">
                                    <div flex class="green box">
                                                         <h2>{{item.who}}</h2></div>
                                    <div flex="20" class="blue box">{{item.when}} </div>
                                </div>
                              <h4>{{item.what}}</h4>
                            </div>
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                        <md-divider></md-divider>
                        </md-item>
                      </md-list>
                    </md-card-content>-->
                    <users-list users="app.users" selected="app.selected" on-selected="app.selectUser(user)">
                    </users-list>
                  
                  </md-card>
              </div>
            
            
              <div role="tabpane2"
                   id="tab2-content"
                   aria-labelledby="tab2"
                   ng-switch-when="1"
                   md-swipe-left="next()"
                   md-swipe-right="previous()" 
                   layout="row" layout-align="center center">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                    
                    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
                       <!-- <ng-md-icon icon="add"></ng-md-icon>-->
                        <i class="material-icons">&#xE145;</i>
                    </md-button>
                    
                    <md-card-content>
                     <md-list>
                        <md-item>
                          <md-item-content>
                            <div class="md-tile-left inset" hide-sm>
                                <md-icon md-svg-icon=svg-3 class="avatar"></md-icon>
                              
                            </div>
                            <div class="md-tile-content">   
                                <h2>My Status</h2>
                              <p>
                                tap to add status update
                              </p>
                            </div>
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                        <md-divider></md-divider>
                     
                      </md-list>
                      
                      <p>Recent Updates</p>
                       <md-divider></md-divider>
                      <md-list>
                        <md-item ng-repeat="item in app.users| filter:search | orderBy:'-what'">
                          <md-item-content>
                            <div class="md-tile-left inset" hide-sm>
                                  <md-icon md-svg-icon="{{item.avatar}}" class="avatar"></md-icon>
                            </div>
                            <div class="md-tile-content">
                                <h3>{{item.who}}</h3>
                              <p>
                                {{item.ago}}
                              </p>
                            </div>
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                        <md-divider></md-divider>
                    
                      </md-list>
                    </md-card-content>
                      
            
                      
                  </md-card>
              </div>
   
          
                    <div role="tabpane3"
                               id="tab3-content"
                               aria-labelledby="tab3"
                               ng-switch-when="2"
                               md-swipe-left="next()"
                               md-swipe-right="previous()" 
                               layout="row" layout-align="center center">
                              <md-card flex-gt-sm="90" flex-gt-md="80">
                                <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
                                    <!--<ng-md-icon  md-svg-icon="call"></ng-md-icon>-->
                                    <i class="material-icons">&#xE0B0;</i>
                                </md-button>
                                  
                                  
                                  
                                <md-card-content>
                                        <md-list>
                                                 <md-item ng-repeat="item in app.users | filter:search ">
                                                          <md-item-content>
                                                            <div class="md-tile-left inset" hide-sm>
                                                                <md-icon md-svg-icon="{{item.avatar}}" class="avatar"></md-icon>
                                                            </div>
                                                            <div class="md-tile-content">                   
                                                                <div layout="row" layout-xs="column">
                                                                    <div flex class="green box">{{item.who}}</div>
                                                                    <div flex="20" class="blue box">
                                                                          <md-button class="md-icon-button md-primary" aria-label="Settings">
                                                                           <!--<ng-md-icon icon={{item.mycal}}></ng-md-icon>-->
                                                                              <i class="material-icons">{{item.mycal}}</i>
                                                                          </md-button>
                                                                    </div>
                                                                  </div>   

                                                                  <div layout="row" layout-sm="column">
                                                                      <div flex>
                                                                       <md-button class="md-icon-button md-accent" aria-label="call Icon">
                                                                            <!--<ng-md-icon icon={{item.callIcon}}></ng-md-icon>-->
                                                                            <i class="material-icons">{{item.callIcon}}</i>
                                                                        </md-button> 
                                                                      </div>
                                                                      <div flex>
                                                                        {{item.ago}}  
                                                                      </div>
                                                                  </div>
                                                            </div>
                                                          </md-item-content>
                                                        <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                                        <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                                    </md-item>
                                                <md-divider></md-divider>
                                         </md-list>
                                  </md-card-content>
                              </md-card>
                          </div>

              
          </ng-switch>
          
        </ui-view>
      </md-content>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
 
          <!-- Container #1 (see wireframe) -->
         <!-- <md-toolbar layout="row" class="md-toolbar-tools">
            <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
                       aria-label="Show User List">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>Angular Material - Starter App</h1>
          </md-toolbar>-->

          <!-- Container #2 -->
<!--          <div flex layout="row">-->

            <!-- Container #3 -->
            <<!--md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                        md-component-id="left" ng-click="app.toggleList()">-->
              <!-- Custom UsersList component -->
            <!--  <users-list
                  users="app.users"
                  selected="app.selected"
                  on-selected="app.selectUser(user)">
              </users-list>
            </md-sidenav>-->

            <!-- Container #4 -->
          <!--  <md-content flex id="content">-->
              <!-- Custom UserDetails component -->
              <!--<user-details
                  selected="app.selected" >
              </user-details>
            </md-content>

          </div>
-->
      

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>

</body>
</html>
