



    <md-icon md-svg-icon="{{$ctrl.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{$ctrl.selected.name}}</h2>
    <p>{{$ctrl.selected.content}}</p>

    <md-button class="md-fab md-fab" ng-click="$ctrl.share($event)" aria-label="Edit">
      <md-icon md-svg-icon="share" ></md-icon>
    </md-button>




   <div>
  <label>name: </label>
  <input [(ngModel)]={{$ctrl.selected.name}} value={{$ctrl.selected.name}} placeholder="name">
</div>

    <md-button class="md-fab md-fab-bottom-right" ng-click="$ctrl.share($event)" aria-label="Share">
      <md-icon md-svg-icon="share" ></md-icon>
    </md-button>

