<!-- NOTE: @see ngClick for how to pass data selection to outside expression -->
<md-list>
  <md-list-item ng-repeat="user in $ctrl.users">
    <md-button ng-click="$ctrl.showDetails({user:user})" ng-class="{'selected' : user === $ctrl.selected }">
      <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
       <!--<h2>{{user.name}}</h2></div>-->
      <div class="md-tile-content">
                   <div layout="row" layout-xs="column">
                        <div flex>
                             <h2>{{user.who}}</h2></div>
                         <div flex="20" class="blue box">{{user.when}} </div>
                    </div>
                    <h4>{{user.what}}</h4>
    </div>
    </md-button>
       <md-divider></md-divider>
  </md-list-item>
   
</md-list>
 <md-divider></md-divider>